/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-Sep-2019, 16:10:03
    Author     : franc/*
*/


.container{


    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    min-width: 992px !important;
    max-width: 85em;
    margin-left: 30px;


}

.col-lg-1{
    position: relative;
    margin-left: 85%;
}

.row{
    margin-top: 1em;
    width: 100%;

}

.sorting{
    background-color: #6666ff;
    color: white;
    height: 60px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

#sort{
    border: 2px solid blue;
    border-radius: 20px;
    outline: none;
    width: 150px;
    height: 35px;
    margin-left: 10%;
    margin-top: 0.2em;
}

#order{
    border: 2px solid blue;
    border-radius: 20px;
    outline: none;
    width: 150px;
    height: 35px;
    margin-left: 22%;
    margin-top: -3.2em;
    position: absolute;
}

.sticky {
    position: fixed;
    top: 100;
    width: 63.7%;
}

#web_title{
    color: white;
    font-family: 'Courgette', cursive;
}

#sort_title{
    color: white;
    font-family: 'Courgette', cursive;
    position: absolute;
    margin-left: 37%;
    margin-top: 0.5em;

}

#sort_title2{
    color: white;
    font-family: 'Courgette', cursive;

    position: absolute;
    margin-left: 59%;
    margin-top: -3em;
}

#sort_title3{
    color: white;
    font-family: 'Courgette', cursive;
    position: absolute;
    margin-left: 0%;


}

.current{
    border-bottom: 3px solid white;
}

#icons
{
    position: -webkit-sticky;
    position: sticky;
}

.col-lg-8{

    padding-left: 4em;
}

nav{
    background-color: #6666ff;
}

.navbar-dark .navbar-nav .nav-link{
    color: white !important;
    cursor: pointer;

}

.nav-item:hover{
    border-bottom: 3px solid ;
    border-color: white;
    opacity: 0.8;
}

.nav-item-user:hover{
    border-bottom: 3px solid ;
    border-color: white;
    cursor: pointer;
}

footer{
    background-color: blue;
}

#foot{
    display: inline-block;

}

#foot2{
    display: inline-block;
    margin-right: 200px;
}

#login_button{
    cursor: pointer;
}

#comments{
    border: 2px;


}

#one_comment{
    border-bottom: 2px solid whitesmoke; 
    border-top: 2px solid whitesmoke;
    border-left: 5px solid #6666ff;


    border-bottom: 5px;

    background-color: white;
    padding: 4px;
}

#save_change{
    background-color: #007bff;
    color: white;
    border: none;
}

#comment_context{
    margin-left: 50px;
}

#comment_date{
    font-size: 12px;
    color: #6666ff;
    margin-left: 400px;
}

#report_button{
    margin-left: 400px;
    background-color: white;
    border: none;
    color: red;
    font-size: 12px;
}

#commentInput{
    width: 94%;
    height: 100px;
    margin-left: 3%;
    margin-top: 2%;
}

#comment_button{
    margin-left: 3%;
}



.comment_section{

    width: 80%;
    background-color: white;
    height: auto;
    word-wrap: break-word;

}

#user_page_recipe_title{
    color: black;
}

#charcount{
    font-size: 13px;
}

#profile_pic{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 2px solid red;
}

#delete_button{
    background-color: white ;
    border: none;
    color: red;
    padding: 0;

}

#recipe_picture{
    border: 2px solid #6666ff;
}

#profile_picture{
    border-radius: 50%;
}

#default_profile{
    border-radius: 50%;
}

#likeButton{
    border: 1px;
    background-color: white;
    font-size: 3em;
    color: red;
    outline: none;

}

#likes{
    font-family: 'Courgette', cursive;
    color: #6666ff;
}

#comment{
    margin-top: 10px;
}

#edit_form{
    border-left: 5px solid #6666ff;
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
    padding: 10px;
}

#login_error{
    margin-top: 15%;
    margin-left: 40%;
    position: absolute;
    width: 400px;
    text-align: center;
    height: 200px;
    background-color: white;
    border: 10px solid red;
    color: red;
    z-index: 9;



}

#reg_error{
    margin-top: 15%;
    margin-left: 40%;
    position: absolute;
    width: 400px;
    text-align: center;
    height: 200px;
    background-color: white;
    border: 10px solid red;
    color: red;
    z-index: 9;
}

#reg_success{
    margin-top: 15%;
    margin-left: 40%;
    position: absolute;
    width: 450px;
    text-align: center;
    height: 200px;
    background-color: white;
    border: 10px solid limegreen;
    color: limegreen;
    z-index: 9;
}

#form_title{
    color: #6666ff;
}

#form_title_report{
    color: red;
}

#term{
    border-radius: 20px;
    border: 2px solid #6666ff;
    height: 35px;
    width: 180px;
    padding: 5px;
    outline: none;
}

#search_icon{
    background-color: #6666ff;
    color: white;
    border-radius: 50%;
    border: 1px solid #6666ff;
    outline: none;
}

#report_recipe_button{
    background-color: white;
    color: red;

}

.step_line{
    border-left: 7px solid #6666ff;
    padding-left: 10px;
}

#step{
    color: #6666ff;
    font-family: 'Courgette', cursive;
    font-size: 18px;
}

#step, #step_method{
    display: inline;
    position: relative;
}

#report_sort{
    border: 2px solid blue;
    border-radius: 20px;
    outline: none;
    width: 150px;
    height: 35px;
    margin-left: 0.5em;
    margin-top: -0.4em;
    position: absolute;
}

#report_order{
    border: 2px solid blue;
    border-radius: 20px;
    outline: none;
    width: 150px;
    height: 35px;
    margin-left: 0.5em;
    margin-top: -0.4em;
    position: absolute;
}

.reportContentType{
    border: 2px solid blue;
    border-radius: 20px;
    outline: none;
    width: 150px;
    height: 35px;
    margin-left: 0.5em;
    margin-top: -0.4em;
    position: absolute;
}

.reportType{
    border: 2px solid blue;
    border-radius: 20px;
    outline: none;
    width: 150px;
    height: 35px;
    margin-left: 0.5em;
    margin-top: -0.4em;
    position: absolute;
}

.profile_upload{
    border-left: 5px solid #6666ff;
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
    padding: 10px;
}

#rate_star{
    width: 40px;
    height: 40px;
}

#ratee{
    color: #6666ff;
    font-family: 'Courgette', cursive;
}

#rate_star_home{
    width: 20px;
    height: 20px;
}

.lol{
    color: red;
}








#ing_table{
    border: 3px solid black;

}

th{
    color: white;
    background-color: #3232ff;
    font-weight: normal;
    font-family: 'Courgette', cursive;
    padding: 10px;
    border: 3px solid #3232ff;
}

#mid1{
    border-right: 3px solid white;
}

#mid{
    border-left: 3px solid white;
}

td{
    padding: 10px;
    border: 3px solid #6666ff;
}

.star_rating{
    height: 50px;
}

.comment_star{
    height: 25px;
}


.social_face{
    font-size: 2em;
    cursor: pointer;
}

.social_face:hover{
    color: #3b5998;

}

.social_in{
    font-size: 2em;
    padding-left: 10px;
    cursor: pointer;
}

.social_in:hover{
    color: #e1306c;
}

.social_goog{
    font-size: 2em;
    padding-left: 10px;
    cursor: pointer;
}

.social_goog:hover{
    color: #ff1919;
}

.social_twit{
    font-size: 2em;
    padding-left: 10px;
    cursor: pointer;
}

.social_twit:hover{
    color: #55ACEE;
}

/*https://codepen.io/matthewcain/pen/ZepbeR*/

#top_button {
    display: inline-block;
    background-color: #6666ff;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#top_button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#top_button:hover {
    cursor: pointer;
    background-color: #333;
}
#top_button:active {
    background-color: #555;
}
#top_button.show {
    opacity: 1;
    visibility: visible;
}


#heart{
    font-weight: normal;
}



.accordion{
    width: 200px;
}

#headingOne2 {
    background-color: #6666ff;
    color: white;
    cursor: pointer;
    border: none;
    text-align: center;
    outline: none;
    padding-bottom: 0px;
    font-family: 'Muli', sans-serif;
}

.clicked #headingOne2 {
    background-color: #005aba;
}


.active, #headingOne2:hover {
    background-color: #005aba;

}

#headingOne2:after {

    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {

}


#headingTwo2 {
    background-color: #6666ff;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    padding-bottom: 0px;
    font-family: 'Muli', sans-serif;
}
.active, #headingTwo2:hover {
    background-color: #005aba;
}

#headingTwo2:after {
    color: white;
    font-weight: bold;
}

#headingThree2 {
    background-color: #6666ff;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    padding-bottom: 0px;
    font-family: 'Muli', sans-serif;
}
.active, #headingThree2:hover {
    background-color: #005aba;
}

#headingThree2:after {
    color: white;
    font-weight: bold;
}

#headingFour2 {
    background-color: #6666ff;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    padding-bottom: 0px;
    font-family: 'Muli', sans-serif;
}
.active, #headingFour2:hover {
    background-color: #005aba;
}

#headingFour2:after {
    color: white;
    font-weight: bold;
}

#headingFive2 {
    background-color: #6666ff;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    padding-bottom: 0px;
    font-family: 'Muli', sans-serif;
}
.active, #headingFive2:hover {
    background-color: #005aba;
}

#headingFive2:after {
    color: white;
    font-weight: bold;
}

#headingSix2 {
    background-color: #6666ff;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    padding-bottom: 0px;
    font-family: 'Muli', sans-serif;
}
.active, #headingSix2:hover {
    background-color: #005aba;
}

#headingSix2:after {
    color: white;
    font-weight: bold;
}

#headingSeven2 {
    background-color: #6666ff;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    padding-bottom: 0px;
    font-family: 'Muli', sans-serif;
}
.active, #headingSeven2:hover {
    background-color: #005aba;
}

#headingSeven2:after {
    color: white;
    font-weight: bold;
}

#headingEight2 {
    background-color: #6666ff;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    padding-bottom: 0px;
    font-family: 'Muli', sans-serif;
}
.active, #headingEight2:hover {
    background-color: #005aba;
}

#headingEight2:after {
    color: white;
    font-weight: bold;
}

#headingNine2 {
    background-color: #6666ff;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    padding-bottom: 0px;
    font-family: 'Muli', sans-serif;
}
.active, #headingNine2:hover {
    background-color: #005aba;
}

#headingNine2:after {
    color: white;
    font-weight: bold;
}

#headingTen2 {
    background-color: #6666ff;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    padding-bottom: 0px;
    font-family: 'Muli', sans-serif;
}
.active, #headingTen2:hover {
    background-color: #005aba;
}

#headingTen2:after {
    color: white;
    font-weight: bold;
}





.filterButton
{

    border: 1px solid #6666ff;
    cursor:pointer;
    user-select: none;
    transition-duration: 0.4s;
    background-color: white;
    text-align:center;
    padding: 10px;
    font-family: 'Muli', sans-serif;
}



.filterButton:hover
{

    background-color: #9999ff;
    color: black;

}

.card-body{
    padding: 0;
}

.ignore-css{all:unset;}



/*.card
{
    background-color: #007bff;
    color: white;
}

.card:hover{
    background-color: #005aba;
}

.card:after {
  color: white;
  font-weight: bold;
}*/