/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Dec-2019, 10:03:15
    Author     : jnevi
*/


#recipeDesc{

    min-width:250px;
    width: 100%;
    min-height: 150px;
    word-wrap: break-word;
}

.wow{
    margin-left: 17em;
}

.btn btn-dark{
    margin-top: 2em;
}

.amount{
    height: 40px;
    border-radius: 5px;
    border: 2px solid lightgrey;
}

.tagz{
    font-size: 1em;
}

input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(1.5);
    padding: 10px;
    cursor: pointer;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
    /* Checkbox text */
    font-size: 110%;
    display: inline;

}

#suggest{
    color: #6666ff;
    background-color: whitesmoke;
    
}

.part{
    border-left: 5px solid #6666ff;
    border-top: 3px solid whitesmoke;
    border-bottom: 3px solid whitesmoke;
    border-right: 3px solid whitesmoke;
    padding: 10px;
}

button{
    padding-bottom: 5px;
    min-width:250px;

    margin-left:5px;
    border: none;
    background-color:red;
    color:white;
    max-width: 250px;
}

#difficulty,#ingredientSpace,#image_file,#stepSpace,#tagSpace{

    min-width:250px;
    word-wrap: break-word;

}

#recipeTime{
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
}

#check_box{
    border: 2px solid blue;
}

#recipeServing{
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    min-width:250px;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-width:250px;
}


input[type=submit]:hover {
    background-color: #45a049;
}
